*{
  margin: 0
}

#main{
  height: 100vh;
  display: flex;
}
#title{
  text-align: center;
  font-family: 'Trochut';
  color: blue;
  text-transform: lowercase;
  font-size: 90pt;
  text-shadow: 15px;
}

.board{
  height: 600px;
  width: 600px;
  border-radius: 20px;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  box-shadow: darkgrey;
  margin: 100px;
  justify-content: center;
}

.play{
  border-radius: 100px;
  background-color: darkgrey;
  width: 140px;
  height: 140px;
}

.piece {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.piece.large { width: 100px; height: 100px; }
.piece.small { width: 64px; height: 64px; }
.piece.light { background: #D5B9B2; }
.piece.dark { background: #3D2C2E; }
.piece.round { border-radius: 100%; }
.piece.square { border-radius: 2px; }
.piece.flat { box-shadow: inset 0 0 0 1px #fff; }
.piece.hollow { box-shadow: inset 0 0 0 10px #886F68; }

.instructions-modal {
  border: solid
}
